[contentEditable=true]:empty:not(:focus):before {
  content: attr(placeholder);
  color: #aaa;
}
.editor-wrapper {
  width: 80%;
  margin: 0 auto;
  overflow: scroll;
  padding: 15px;
}
.editor {
  width: 100%;
  min-height: 300px;
  font-size: 16px;
  position: relative;
  line-height: 1.5em;
  display: inline-block;
  background: #ffffff;
  color: #555;
  overflow: scroll;
  transition: 0.3s all;
}
.editor pre {
  margin: 0;
  position: relative;
  border-radius: 0 !important;
  display: inline-block;
  width: 80%;
  padding: 0 30px;
  background: #f3f3f3 !important;
  text-shadow: 0 1px #fff;
  line-height: 1.5;
  clear: both;
}
.editor pre:before {
  content: "";
  color: transparent;
  position: absolute;
  left: 15px;
  top: 0;
  bottom: 0;
  border-left: 1px solid #dadada;
}
.editor.fullscreen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 0 50px;
}
.editor:focus {
  outline: 0px solid transparent;
  border: 0px solid transparent;
}
.editor-menu {
  position: fixed;
  z-index: 9999;
  border-radius: 4px;
  height: 32px;
  transition: all 0.3s;
  color: #fff;
}
.editor-menu > ul {
  margin: 0;
  padding: 0;
}
.editor-menu > ul:after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 6px solid #000000;
  left: 45%;
}
.editor-menu > ul.at-bottom:after {
  bottom: -12px;
  border-color: #000000 transparent transparent transparent;
}
.editor-menu > ul.at-top:after {
  top: -12px;
  border-color: transparent transparent #000000 transparent;
}
.editor-menu > ul > li {
  cursor: pointer;
  position: relative;
  list-style: none;
  background: #000000;
  display: inline-block;
  color: #fff;
  line-height: 32px;
  height: 32px;
  width: 32px;
  text-align: center;
}
.editor-menu > ul > li:first-child {
  border-radius: 4px 0 0 4px;
}
.editor-menu > ul > li:last-child {
  border-radius: 0 4px 4px 0;
}
.editor-menu > ul > li.actived,
.editor-menu > ul > li:hover {
  background: #449d44;
}
.editor-menu > ul > li.actived > .sub-menu,
.editor-menu > ul > li:hover > .sub-menu {
  display: block;
}
.editor-menu > ul > li > .sub-menu {
  display: none;
  padding: 0;
  margin: 0;
  z-index: 9;
  position: absolute;
  top: 0;
  transition: 0.3s all;
}
.editor-menu > ul > li > .sub-menu > li {
  height: 32px;
  width: 32px;
  list-style: none;
  background: #000000;
}
.editor-menu > ul > li > .sub-menu > li.actived,
.editor-menu > ul > li > .sub-menu > li:hover {
  background: #449d44;
  color: #fff;
}
.editor-menu > ul > li > .image-selector {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
